body {
    background: url("utils/main\ bg.jpg") center center fixed;
    background-size: cover;
    width: 99%;
    height: 100%;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.5) 75%, rgb(100, 100, 100, 0));
    width: 100%;
    height: auto;
    z-index: -1;
}
.logo {
    margin-left: 2%;
    margin-right: auto;
    max-width: 200px;
    height: auto;
}
.headerText {
    margin-left: 275px;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: auto;
    color: white;
    font-family: Fredoka One;
    font-size: 300%;
}
#topMessage {
    margin-top: 10%;
    font-size: 300%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.searchBar {
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 0.5% 1%;
    font-size: 200%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    width: 25%;
    display: flex;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamesCover {
    width: 100%;
    height: auto;
    transform: scale(.8);
    transition: 0.5s all ease;
}
.gamesCover:hover {
    transform: scale(.9);
}
.gameTitle {
    position: absolute;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 1% 2%;
    margin-top: 15%;
    font-size: 150%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    pointer-events: none;
}