#topMessage {
    margin-top: 20%;
    font-size: 300%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.searchBar {
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 0.5% 1%;
    font-size: 200%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    width: 25%;
    display: flex;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}
.grid {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div.grid div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamesCover {
    width: 100%;
    height: auto;
    transform: scale(.8);
    transition: 0.5s all ease;
}
.gamesCover:hover {
    transform: scale(.9);
}
.gameTitle {
    position: absolute;
    border: 2px solid white;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 1% 2%;
    margin-top: 15%;
    font-size: 150%;
    font-family: Fredoka One;
    text-align: center;
    color: white;
    pointer-events: none;
}