body {
    background-image: url('https://lagranderecre-lagranderecre-fr-storage.omn.proximis.com/Imagestorage/images/0/0/5d4c1cf2c74a3_GIGAMIC_AMSIXQ_SIX_QUI_PREND_BOX_RIGHT.jpg');
    width: auto;
    height: auto;
    background-size: 125%;
    background-position: 45% 0%;
}
input {
    background-color: rgb(255, 255, 255, 0);
}
table,
td {
    background-color: rgb(255, 255, 255, .5);
    border: 2px solid rgb(200, 200, 0);
    text-align: center;
    width: 350px;
    height: 25px;
}
.scoreTD {
    width: 50px;
    border: 0;
}
#firstColumn {
    width: 100px;
    font-weight: bold;
}
.shift {
    transition: 0.5s cubic-bezier(.28,0,.6,.99);
    margin: 2% 1%;
}